<%- include("../partials/head.ejs")%>

<div class="container">
    <div class="row">
        <h1 class="text-center"><%= Pokemon.name %></h1>
    </div>
</div>
<div class="container-lg-fluid text-center">
    <div class="row">
         <div class="col">
            <h4>ID Number: <%= Pokemon[index].id %></h4>
         </div>
    </div>
    <div class="row text-center align-center">
        <div class="col">
            <h3>Type:<br><%= Pokemon[index].type %></h3>
         </div>
        <div class="col">
        <img src="<%= Pokemon[index].img%>" alt="Image of <%= Pokemon[index].name %>" class="img-fluid">
        </div>
        <div class="col">
             <h3>Classification:<br><%= (Pokemon[index].misc.classification).replace(/^(.)|\s+(.)/g, c => c.toUpperCase())  %> </h3>
         </div>
    </div>
    <div class="row">
        <div class="col text-center block">
            <form action="/pokemon/<%=index%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Pokemon">
            </form>
        </div>
    </div>
</div>