<%- include("../partials/head.ejs") %>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1><%= animal.species[0].toUpperCase() + animal.species.slice(1).toLowerCase() %></h1>
        </div>
        <div class="row text-center">
            <div class="col-2"><h3>Area Location: <%= animal.location %> </h3></div>
            <div class="col-8"><img src="<%= animal.image %>" alt="Photo of a <%= animal.species %> " class="img-fluid"></div>
            <div class="col-2"><h3>Life Expectancy: <%= animal.lifeExpectancy %> years</h3></div>
        </div>
        <div class="row text-center">
            <div class="col"><h3>Extinction Status: <%= animal.isExtinct ? "Extinct"  : "Extant" %></h3></div>
        </div>
        
        <div class="row text-center ">
                <div class="col ">
                    <form action="/animals/<%= animal._id %>?_method=DELETE" method="post">
                        <input type="submit" value="Delete <%= animal.species[0].toUpperCase() + animal.species.slice(1).toLowerCase() %>" class="btn bg-danger fw-bold">
                    </form>
                </div>
                <div class="col">
                    <button  class="btn bg-info rounded fw-bold"onclick="window.location='/animals'">Back To Home</button>
                </div>
                <div class="col">
                    <button class="btn bg-warning rounded fw-bold" onclick="window.location='/animals'">Edit <%= animal.species[0].toUpperCase() + animal.species.slice(1).toLowerCase() %></button>
                </div>
        </div>
    </div>
</div>