<%- include("../partials/head.ejs") %>

<div class="container">
    <h1>Budgtr</h1>
    <table>
        <tr>
           <th>Date</th>
           <th>Name</th>
           <th>Amount</th> 
        </tr>
        <% Budget.forEach((item) => { %>
            <tr>
                <th><%= item.date %></th>
                <th><a href="/budgets/<%= Budget.indexOf(item) %>"><%= item.name %></a></th>
                <th><%= item.amount %></th>
            </tr>
    
        <% }) %>
    </table>
</div>